.footer-wrapper {
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    visibility: visible;
    animation-duration: 1.5s;
    animation-delay: 0.1s;
    animation-name: bounceInDown;
    text-align: start;
}
footer .link-suppress{
    text-decoration: none;
    color: white;
}
footer .link-suppress:hover {
    text-decoration: none;
    color: orange;
}

.two h3 {
    font-weight: 700;
    margin: auto;
    white-space: nowrap;
    padding-bottom: 13px;
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 1px;
    color:orange;
}
.two:before {
    background-color: orange;
    content: "";
    display: block;
    height: 3px;
    width: 75px;
    margin-bottom: 5px;
}

.social-icon{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin: 4px;
    text-align: center;
    color: #fff;
}

.social-icon:hover{
    opacity: 0.8;
    color: #fff;
}

@media (max-width: 1200px) {
    .footer-wrapper {
        padding: 24px;
    }

}