.h-sticky-navbar {
    padding: 0;
    color: white;
   
}

.h-sticky-navbar-sticky {
    padding: 0;
    box-shadow: 0 1px 5px 0 white;
    background: white;
   
   
}

.h-sticky-navbar a{
    color: white;
   
}

.h-sticky-navbar-sticky a{
    color: black;
   
}


.h-sticky-navbar .hamburger-lines,
.h-sticky-navbar input[type="checkbox"] {
    display: none;
}
.nav-container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.menu-items {
    order: 2;
    display: flex;
    margin-block-start: 0;
    margin-block-end: 0;
}

.logo {
    order: 1;
    font-size: 2.3rem;
}
.menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
    text-transform: uppercase;
}
.h-sticky-navbar a {
    
    font-weight: 500;
    transition: color 0.3s ease-in-out;
    text-decoration: none;
}


.h-sticky-navbar a:hover {
    color:orange;
}

.h-sticky-navbar  .active {
    color:orange ;
}



@media (max-width: 1200px) {
    .logo {
        position: absolute;
        top: 0;
        left: 56px;
        font-size: 24px;
    }

    .navbar-container .hamburger-lines,
    .navbar-container input[type="checkbox"] {
        display: block;
        height: 28px;
        width: 35px;
        top: 20px;
        left: 20px;
        position: absolute;
    }
    .h-sticky-navbar {
        opacity: 0.95;
    }
    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
    }
    .navbar-container input[type="checkbox"] {
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }
    .navbar-container .hamburger-lines {
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }
    .navbar-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }
    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }
    .h-sticky-navbar .menu-items {
        background: #fff;
        box-shadow: 0 1px 5px 0 #aaa;
        padding-top: 100px;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: block;
        flex-direction: column;
        transition: transform 0.5s ease-in-out;
        overflow: scroll;
    }
    .h-sticky-navbar .menu-items li {
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }
  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
    }
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
    }
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
    }
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
    }
    .navbar-container input[type="checkbox"]:checked ~ .logo-wrapper{
        display: none;
    }

}
@media (max-width: 600px) {

    .navbar-container input[type="checkbox"]:checked ~ .logo-wrapper {
        display: none;
    }
}