.one h2{
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 1px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 16px 0;
    grid-gap: 22px;
    
} 


.one h2:after,
.one h2:before {
    content: "";
    display: block;
    border-bottom: 2px solid #ccc;
}



.header-info-table-wrapper {
    display: table;
    width: 100%;
    background-color: gray;
    color: white;
  }
  
  .header-info-table-wrapper .item-one{
  display: table-cell;
  vertical-align: middle;
  padding: 8px;
  }
  
  .header-info-table-wrapper .item-two{
  display: table-cell;
  padding: 8px;
  }


 .carousel-img {
    width: 100%;
    height: 800px;
    background: black;
    
}
.carousel-img img {
    width: 100%;  
}

.carousel-caption {
   
    left: 0;
    bottom: 0;
    z-index: 1;
    padding: 32px;
   
}

.carousel-caption-heading{

    font-size: 80px;
  
}

.carousel-caption-sub-heading{
 
    font-size: 40px;
}

.carousel-caption-heading,.carousel-caption-sub-heading{
    animation-name: slideInLeft;
    animation-duration: 1s;
 
}

.floating-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;
}
.floating-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    margin-top: 10px;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.carousel-container{
    margin-top: -80px;
}

.box-co {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 120px;
    transform: translateY(-50%);
    background-color: white;
    width: 320px;
    color: black;
    padding: 16px;
}


@media (max-width: 1200px) {
  


    .carousel-img {
        width: 100%;
        height: 400px;
    }


    
    .carousel-caption-heading{

        font-size: 24px;
      
    }
    
    .carousel-caption-sub-heading{
     
        font-size: 16px;
    }


    
    .carousel-container{
        margin-top: 0px;
    } 


    .box-co{
    
    
        display:block;
        position: absolute;
        
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        background-color:white;
        
        color: black;
        
        padding:16px;
        }
        
        
        
        .header-info-table-wrapper {
          display: block;
          width: 100%;
        }
        
        .header-info-table-wrapper .item-one{
        display: block;
        padding: 8px;
        text-align: center;
        }
        
        
        
        .header-info-table-wrapper .item-two{
        display: block;
        padding: 8px;
        }
        
        
        
     
        

}


@media (max-width: 600px) {


 
}

