.top-bar {
    background-color: peru;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar-social-icon {
    display: inline-block;
    margin: 4px;
    text-align: center;
    color: #fff;
}


.top-bar-social-icon {
    width: 24px;
    height: 24px;
    line-height: 24px;
}


.top-bar-social-icon:hover {
    opacity: 0.8;
    color: #fff;
}

@media (max-width: 992px) {
    .top-bar {
        display: block;
    }

}

  